.item{
    width: 30%;
    margin-top: 15px;
    border: 1px solid black;
    text-align: center;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item:first-of-type{
    margin-left: 0;
}

.poster{
    max-width: 100%;
}
.def-container{
    padding: 10px;
}

.def{
    padding-top: 3px;
}

@media (max-width: 768px){
    .item{
        width: 45%;
    }
}

@media (max-width: 540px){
    .item{
        width: 100%;
    }
}